@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Amatic SC', cursive;
}

.overlay {
  opacity: 1;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: opacity 1s;
}

.overlay.fade {
  opacity: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: transparent;
  font-family: 'Amatic SC';
  font-size: 2rem;
  opacity: 1;
  transition: opacity 1s;
}

.loading.fade {
  opacity: 0;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  color: white;
  background-color: transparent;
  font-size: 4rem;
  font-family: 'Amatic SC';
  opacity: 0;
  transition: opacity 0.5s ease-in;
  display: none;
  cursor: pointer;
}

.start.fadeIn {
  opacity: 1;
}

.start.fadeOut {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .start:hover {
    color: #9effe7;
  }
}

.mute {
  position: absolute;
  top: 7%;
  left: 7%;
  border: none;
  color: white;
  background-color: rgba(126, 122, 122, 0.397);
  font-size: 1.5rem;
  font-family: 'Amatic SC';
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.mute:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 60rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  overflow: auto;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.modal.fadeIn {
  opacity: 1;
  display: block;
}

.modal.fadeOut {
  opacity: 0;
}

.modal-wrapper {
  position: relative;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.modal-content {
  background-color: rgba(255, 255, 255, 0.288);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  color: white;
  text-decoration: none;
}

.close {
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: 0.6s all;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
}

.close:hover,
.close:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.modal h1,
.modal p {
  margin: 0 0 15px 0;
}

.modal h1 {
  font-size: 30px;
  font-weight: 500;
}

.modal p {
  font-weight: 300;
}

.aboutMe-Container {
  color: rgb(43, 42, 42);

  & p {
    font-weight: 500;
  }

  & img {
    width: 8rem;
    height: 9rem;
    object-fit: contain;
    border-radius: 50%;
   
  }
}

.projects-container .title {
  font-size: 1.3rem;
  display: inline;
  color: rgb(58, 56, 54);
  font-weight: 500;
}

.projects-container .desc {
  display: inline-block;

  & a {
    text-decoration: none;
    color: rgb(92, 5, 92);
    font-weight: 500;
    font-size: 1.1rem;
  }
}

.contactMe-container {
  & p {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1.3rem;
    color: rgb(43, 42, 42);
    font-weight: 700;
  }

  & a {
    display: block;
    text-decoration: none;
    color: purple;
    font-weight: 400;
  }
}
